*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgba(0,0,0,0.2);
}
.gel{
	margin: 100px auto;
	width: 960px;
	text-align: center;
}

 .photo{
	position: relative;
	height: 540px;
	margin-bottom: 15px;
}

.photo img{
	position: absolute;
	width: 100%;
	left: 0;
	opacity: 0;
	transition: 0.7s;
}
button{
	width: 40px;
	height: 25px;
}

.photo > .show{
	opacity: 1;
}